:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --contact-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.header__logo--accent-color {
  color: var(--title-text-color);
}

.logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus {
  color: var(--accent-color);
}

.nav-link.current {
  color: var(--accent-color);
  position: relative;
}

.nav-link.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -1px;
}

.nav__list {
  display: flex;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:not(:last-child) {
  margin-right: 50px;
  margin-left: auto;
}

.contact:hover, .contact:focus {
  color: var(--accent-color);
}

.contact:hover > .contact__icon-envelope,
.contact:focus > .contact__icon-envelope {
  fill: var(--accent-color);
}

.contact:hover > .contact__icon-smartphone,
.contact:focus > .contact__icon-smartphone {
  fill: var(--accent-color);
}

.contact__icon-envelope {
  margin-right: 10px;
  vertical-align: middle;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon-smartphone {
  margin-right: 10px;
  vertical-align: middle;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  padding: 200px 0px;
  margin: 0px auto;
  text-align: center;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-background.jpg);
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title__hero {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.title__btn {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title__btn:hover, .title__btn:focus {
  color: var(--title-text-color);
}

.advantage {
  padding: 94px 0px;
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.advantage__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.advantage__item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantage__item--antenna::before {
  background-image: url(../images/antenna.svg);
  background-size: 70px 70px;
}

.advantage__item--clock::before {
  background-image: url(../images/clock.svg);
  background-size: 70px 70px;
}

.advantage__item--diagram::before {
  background-image: url(../images/diagram.svg);
  background-size: 70px 70px;
}

.advantage__item--astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-size: 70px 70px;
}

.advantage__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage__text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.doing {
  padding-bottom: 94px;
}

.doing__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.doing__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

.doing__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.doing__item {
  position: relative;
}

.doing__text {
  width: 100%;
  margin: 0;
  padding: 27px 0px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0px;
}

.team {
  padding: 94px 0px;
  background-color: #f5f4fa;
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

.team__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team__item {
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-white-color);
}

.team__name {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.team__occupation {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.social-networks {
  list-style-type: none;
  display: flex;
  padding: 0px;
  margin-top: 16px;
  margin-bottom: 0px;
  justify-content: center;
  align-content: center;
}

.social-networks__item:not(:last-child) {
  margin-right: 10px;
}

.social-networks__link {
  display: inline-block;
  width: 44px;
  height: 44px;
}

.social-networks__icon {
  fill: #afb1b8;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks--instagram:hover > .social-networks__icon,
.social-networks--instagram:focus > .social-networks__icon {
  fill: #fff;
  background-color: var(--accent-color);
}

.social-networks--twitter:hover > .social-networks__icon,
.social-networks--twitter:focus > .social-networks__icon {
  fill: #fff;
  background-color: var(--accent-color);
}

.social-networks--facebook:hover > .social-networks__icon,
.social-networks--facebook:focus > .social-networks__icon {
  fill: #fff;
  background-color: var(--accent-color);
}

.social-networks--linkedin:hover > .social-networks__icon,
.social-networks--linkedin:focus > .social-networks__icon {
  fill: #fff;
  background-color: var(--accent-color);
}

.clients {
  padding: 94px 0px;
}

.clients__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

.clients__item:not(:nth-child(6n)) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__logo {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover > .clients__logo,
.clients__link:focus > .clients__logo {
  fill: var(--accent-color);
}

.footer {
  padding: 60px 0px;
  background-color: #2f303a;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer__logo--accent-color {
  color: var(--primary-white-color);
}

.container.footer {
  display: flex;
}

.address {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link-map {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link-map:hover, .address__link-map:focus {
  color: var(--accent-color);
}

.address__contact {
  color: var(--contact-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact:hover, .address__contact:focus {
  color: var(--accent-color);
}

.social-networks--footer {
  margin-top: 20px;
}

.footer-social-networks {
  margin-left: 70px;
}

.join-title {
  margin-top: 12px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.social-networks__icon--footer {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
}

/* ---------------------------------------------------------- */
.subscription {
  margin-left: 93px;
}

.subscription__label {
  margin-top: 12px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.subscription__input {
  margin-top: 20px;
  margin-right: 12px;
  padding-left: 16px;
  display: block;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__input:focus {
  border-color: var(--accent-color);
}

.subscription__container-btn {
  position: relative;
  display: inline-block;
}

.subscription__icon-send {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__btn {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 60px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__btn:hover, .subscription__btn:focus {
  color: var(--title-text-color);
}

.subscription__btn:hover + .subscription__icon-send,
.subscription__btn:focus + .subscription__icon-send {
  fill: var(--title-text-color);
}

.section-portfolio {
  padding: 94px 0px;
}

.ul-filter {
  display: flex;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
  justify-content: center;
}

.ul-filter .item:not(:last-child) {
  margin-right: 8px;
}

.btn-filter {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: Roboto, sans-serif;
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filter:focus, .btn-filter:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.ul-portfolio {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.ul-portfolio > .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.ul-portfolio > .item {
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  width: 370px;
}

.figure {
  width: 100%;
  vertical-align: bottom;
}

.h2-portfolio {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.text-portfolio {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.link-portfolio {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-portfolio:hover .figure-top-text {
  transform: translateY(0);
}

.link-portfolio:hover, .link-portfolio:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.link-portfolio .item {
  padding: 20px 24px;
}

.link-portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.figure-top-text {
  padding: 63px 24px;
  margin: 0px 0px;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
}

.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.modal-close:hover .icon-close {
  fill: var(--accent-color);
}

.modal-label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.icon-close {
  fill: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-modal {
  margin-top: 0px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-label.text {
  margin-bottom: 20px;
}

.input-wrap {
  margin-top: 4px;
  position: relative;
}

.modal-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .icon-input {
  fill: var(--accent-color);
}

.icon-input {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: var(--accent-color);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.link-checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.label-checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: inline-block;
  margin-bottom: 30px;
}

.icon-check {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customs-icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-chekbox:checked + .customs-icon {
  background-color: var(--accent-color);
  border: none;
}

.input-chekbox:checked + .customs-icon > .icon-check {
  fill: var(--primary-white-color);
}

.checkbox-btn {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */