.footer {
  padding: 60px 0px;
  background-color: #2f303a;
  &__logo {
    display: inline-block;
    margin-bottom: 20px;
  }
  &__logo--accent-color {
    color: var(--primary-white-color);
  }
  &__contact-list {
    text-align: center;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
      margin-right: 165px;
    }
  }
  &-social-networks {
    text-align: center;
    margin-bottom: 60px;
  }
}

.address {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
  &__link-map {
    color: var(--primary-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__contact {
    color: var(--contact-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

// ----------------------------------------------------------------

.social-networks--footer {
  margin-top: 20px;
}

.join-title {
  margin-top: 12px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.social-networks__icon--footer {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
}

/* ---------------------------------------------------------- */

.subscription {
  &__label {
    width: 100%;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }
  &__input {
    margin-top: 20px;
    padding-left: 16px;
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border-color: var(--accent-color);
    }
  }
  &__container-btn {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }
  &__icon-send {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    fill: var(--primary-white-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__form {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
}

.subscription__btn {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 60px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--title-text-color);
  }
  &:hover + .subscription__icon-send,
  &:focus + .subscription__icon-send {
    fill: var(--title-text-color);
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

// @media screen and (min-width: 481px) and (max-width: 768px) {
//
// }

// @media screen and (min-width: 769px) {
//   .footer__container {
//     display: flex;
//   }
//   .footer-social-networks {
//     margin-left: 70px;
//   }
//   .subscription {
//     margin-left: 93px;
//   }
//   .footer__contact-list {
//     text-align: start;
//     margin-bottom: 0px;
//   }
//   .footer-social-networks {
//     text-align: start;
//     margin-bottom: 0px;
//   }
//   .subscription__label {
//     margin-top: 12px;
//   }
//   .subscription__input {
//     margin-right: 12px;
//   }
//   .subscription__container-btn {
//     margin-top: 0px;
//   }
//   .subscription__form {
//     text-align: start;
//   }
//   .subscription__input {
//     width: 358px;
//   }
// }
