.advantage {
  padding: 60px 0px;
  &__list {
    list-style-type: none;
    margin-top: -30px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
    padding: 0;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    @media screen and (min-width: 768px) {
      width: calc(100% / 2 - 30px);
    }
  }
  &__item::before {
    display: block;
    content: '';
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__item--antenna::before {
    background-image: url(../images/antenna.svg);
    background-size: 70px 70px;
  }
  &__item--clock::before {
    background-image: url(../images/clock.svg);
    background-size: 70px 70px;
  }
  &__item--diagram::before {
    background-image: url(../images/diagram.svg);
    background-size: 70px 70px;
  }
  &__item--astronaut::before {
    background-image: url(../images/astronaut.svg);
    background-size: 70px 70px;
  }
  &__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      text-align: start;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
  }
}

//   .advantage__item:not(:nth-child(2n)) {
//     margin-right: 30px;
//   }
//
// }

// @media screen and (min-width: 769px) {
//   .advantage {
//     padding: 94px 0px;
//   }
//   .advantage__list {
//     display: flex;
//     flex-wrap: wrap;
//   }
//   .advantage__item:not(:nth-child(4n)) {
//     margin-right: 30px;
//   }
//   .advantage__title {
//     text-align: start;
//   }
//   .advantage__text {
//     width: 270px;
//   }
//   .advantage__item {
//     margin-bottom: 0px;
//   }
// }
